ul li {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    padding: 20px;
    /* display: inline-block; */
    color: black;
    cursor: pointer;
}
.guller {
    width: 100px;


}

.guller img{
    max-width: 100%;
    height: 80%;
    display: flex;
}
.galery{
width: 100%;
}